{% extends 'EasyPoll/base.html' %}
{% block content %}
    <div class="container">
    <h1>Add new poll</h1>
    <div class="well">
    {% if user %}
        <h5>You are known as <i class="font-italic">{{ user }}</i></h5>
    {% else %}
        <h5>You are known as <i class="font-italic"></i>Anonymous</h5>
    {% endif %}
    <form method="post" class="post-form" id="add-poll">
        {% csrf_token %}
        {{ qform.as_p }}
        {% for form in aforms %}
            {{ form.as_p }}
        {% endfor %}
        <button type="submit" class="btn btn-info">Add</button>
    </form>
    </div>
    <div class="row">
        <a href="{% url 'EasyPoll:index' %}"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
    </div>
    </div>
{% endblock %}