{% extends 'EasyPoll/base.html' %}
{% block content %}
    <div class="container">
    <div class="well">
        {% if list.count > 0 %}
            {% for poll in list %}
                <div class="row well-padding">
                <span class="pull-left">{{ poll.q_text }} - By {{ poll.author }} on {{ poll.published_date|date }}</span><span class="pull-right"><a href="{% url 'EasyPoll:results' poll.id %}">Results <i class="glyphicon glyphicon-chevron-right"></i> </a></span>
                </div>
                <hr/>
            {% endfor %}
            {% else %}
            <div class="row well-padding">
            <p>You have not created any polls yet.</p>
            </div>
        {% endif %}
    </div>
    {% if page_obj %}
        <div class="row">
        <ul class="pagination pull-right">
        {% if page_obj.has_previous %}
            <li>
                <span><a href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
            </li>
        {% endif %}
        <li class="">
            <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
        </li>
    {% endif %}
    {% if page_obj.has_next %}
    <li>
        <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
    </li>
        </ul>
        </div>
{% endif %}
    </div>
{% endblock %}